@charset "utf-8";
/* CSS Document */

header{
	background-color: #060606;
	
}

body{
	font: "Segoe UI";
	font-size: 14px;
	color: #787878;}

#sec-hero{
	background-image: url(../img/bg-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	padding: 30px 30px;
	color: #FFFFFF;	
}

.btn
{
	background-color: #DCB510;
	padding: 16px, 40px;
	border: 0;
	color: #000000;
	margin-top: 20px;
	width: 200px;
	height: 40px;	
	
}

#middle{
	text-align: center;
	color: #6C6A6A;